<div class="flex-fill section-container">
  <div class="d-flex mb-30">
    <div class="btn-group">
      <span class="btn btn-highlight-dark button-icon"><i class="bi bi-plus-lg"></i></span>
      <button type="button" class="btn btn-highlight button-text">Add New KPI</button>
      <button
        type="button"
        class="btn btn-highlight dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
    <div class="position-relative search-container">
      <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText" />
      <span class="position-absolute search-button">
        <i class="bi bi-search"></i>
      </span>
    </div>
  </div>
  <app-table [perspectives]="perspectives" [objectives]="objectives" [searchValue]="searchText"></app-table>
</div>
