header{
    z-index: 10;
}
.first-container{
    padding: 0.5625rem 1.875rem 0 1.3125rem;
    // padding: 7.5px 1.875rem 0 1.3125rem;
    .orange-button{
        color: #FF6537;
    }
    button{
        border: none;
        padding: 3px 11.34px 3px 11.34px;
        color: #D2D2D2;
        i::before{
            width: 17px;
            height: 17px;
            -webkit-text-stroke: .5px;
        }
    }
    .profile-dropdown{
        margin-left: 16.41px;
        margin-right: 32.31px;
        color: #5D6164;
        .profile-img{
            height: 31px;
            width: 32px;
            margin-right: 7.13px;
        }
        .profile-name{
            font-size: 16px;
            line-height: 22px;
            margin-right: 6.16px;
        }
        .down-arrow{
            font-size: 11px;
        }
    }
}
.second-container{
    background-color: #F1F1F1;
    padding: 15px 20px;
    box-shadow: 0px 6px 6px #00000024;

    .random-square{
        background-color: #E2E2E2;
        width: 30px;
        height: 30px;
        margin-right: 17.78px;
    }
}
h1{
    color: #4C4743;
}
h2{
    color: #646464;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
}
.input-group{
    max-width: 335.23px;
    color: #D2D2D2;
    span{
        z-index: 10;
        i{
            width: 15px;
            height: 15px;
        }
    }
    .search-button{
        right: 20px;
        top: 3.5px;
    }
    .down-arrow{
        left: 8px;
        top: 2px;
    }
    &:focus{
        color: black;
    }
}
input{
    font-size: 12px;
    border-radius: 0;
    line-height: 17px;
    color: #BEBEBE;
    padding: 0px 0px 1px 31.14px;
    margin-right: 10.41px;
    max-width: 335.23px;
    &:focus{
        
    }
}
.triangle {
    margin-left: 95%;
    z-index: 6;
}
.searchicon {
    margin-left: -95%;
    z-index: 5;
}
i{
    scale: .8;
}
ul{
    font-size: 12px;
    line-height: 17px;
}
.nav-tabs{
    .arrow-icon{
        padding-top: 0.5px;
        padding-left: 3px;
        width: auto;
        height: 13px;
    }
    .breadcrumb-item{
        padding: 5.4px 0 3px 0;
        display: flex;
        align-items: center;
        color: #4C4743;
    }
    .nav-link{
        padding: 5.4px 20px 3.6px 20px ;
        color: #4C4743;
    }
    .active{
        background-color: #F1F1F1;
    }
}