<div
  class="card-container"
  [class.hover-background]="showButtons"
  (mouseenter)="showButtons = true"
  (mouseleave)="showButtons = false"
>
  <div class="d-flex align-items-start mb-13">
    <img class="image" src="assets/avatar.jpg" alt="image" />
    <div class="flex-column flex-fill">
      <div class="text-darkBrown name-text">
        {{ comment.author }}
      </div>
      <div class="date-text">{{ formattedDate }}</div>
    </div>
    <button class="btn p-0 text-darkBrown border-0 first-button-type" [hidden]="!showButtons">Resolve</button>
  </div>
  <p class="text-darkBrown comment-text">
    {{ comment.comment }}
  </p>
  <div class="d-flex align-items-center">
    <div class="flex-fill">
      <button class="btn p-0 text-darkBrown first-button-type" *ngIf="!comment.replies?.length">Reply</button>
      <button
        class="btn p-0 text-darkBrown border-0 first-button-type"
        *ngIf="comment.replies?.length"
        (click)="setShowReplies()"
      >
        > {{ comment.replies.length }} Reply
      </button>
    </div>
    <div [hidden]="!showButtons">
      <button class="btn p-0 text-darkBrown border-0 me-3 first-button-type">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn p-0 text-darkBrown border-0 second-button-type">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</div>
<app-reply-card *ngFor="let reply of comment.replies" [reply]="reply" [hidden]="!showReplies"></app-reply-card>
