<div style="padding: 17px 20px 19px 20px;min-width: 367.25px;">
    <div class="d-flex" style="margin-bottom: 13px;">
        <img style="width: 30px;height: 30px;margin-right: 12px;" src="assets/avatar.jpg" alt="image">
        <div class="flex-column">
            <div class="text-darkBrown" style="font-size: 12px;line-height: 17px;font-weight: bold;" >Marcos Lopez</div>
            <div style="font-size: 11px;line-height: 15px;">{{formattedDate}}</div>
        </div>
    </div>
    <p class="text-darkBrown" style="font-size: 12px; line-height: 17px;margin-bottom: 7px;white-space: normal;" >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero</p>
    <button class="btn p-0 text-darkBrown" style="font-size: 12px; line-height: 17px;font-weight: bold;" >Reply</button>
</div>
