<div class="position-sticky" style="height: calc(100vh - 131.5px);top: 130.39px;transition: all .5s; overflow-x: hidden; white-space: pre;">
    <div class="comment-form flex-column" style="padding: 23px 20px 9.8px 20px;min-width: 367.25px;">
        <input class="form-control w-100 rounded-0" style="margin-bottom: 10.8px;" type="text" placeholder="Make a comment"/>
        <div class="d-flex justify-content-end">
            <button class="btn border-0 me-1" >Cancel</button>
            <button class="btn border rounded-0" >Submit</button>
        </div>
    </div>
    <div>
        <app-comment-card></app-comment-card>
    </div>
</div>
