.reply-card-container {
  padding: 1.0625rem 1.25rem 1.1875rem 2.5rem;
  min-width: 22.953125rem;

  .mb-13 {
    margin-bottom: 0.8125rem;
  }

  .image {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.75rem;
  }

  .name-text {
    font-size: 0.75rem;
    line-height: 1.0625rem;
    font-weight: bold;
  }

  .date-text {
    font-size: 0.6875rem;
    line-height: 0.9375rem;
  }

  .comment-text {
    font-size: 0.75rem;
    line-height: 1.0625rem;
    margin-bottom: 0.4375rem;
    white-space: normal;
  }
}
