<div class="d-flex">
  <app-nav-sidebar></app-nav-sidebar>
  <div class="w-100">
    <app-header></app-header>
    <div class="d-flex">
      <main
        class="d-flex overflow-auto flex-fill"
        style="
          background: transparent linear-gradient(180deg, #ffffff 0%, #ffffff 11%, #f1f1f1 29%, #f1f1f1 100%) 0% 0%
            no-repeat padding-box;
        "
      >
        <app-main-section class="w-100"></app-main-section>
      </main>
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
</div>
