<div class="d-flex">
      <app-nav-sidebar></app-nav-sidebar>
      <div class="w-100">
            <app-header></app-header>
            <div class="d-flex">
                  <main class="d-flex overflow-auto flex-fill" style="background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 11%, #F1F1F1 29%, #F1F1F1 100%) 0% 0% no-repeat padding-box;">
                        <div class="flex-fill" style="height: 1200px;margin: 20px; background-color: blue;" >
                              <p>This is main</p>
                        </div>
                  </main>
                  <app-right-sidebar></app-right-sidebar>
            </div>
      </div>
</div>