<div class="position-sticky top-0 d-flex flex-column" style="height: 100vh;background-color: #4C4743;">
    <div class="logo-container bg-highlight">
        <img class="logo" alt="frank logo" src="assets/frank-logo.svg"/>
    </div>
    <nav class="flex-fill" >
        <ul>
            <li><button class=""  aria-label="people button" title="persona" ><i class="bi bi-person-lines-fill"></i></button></li>
            <li><button class="" aria-label="chart button" title="chart" ><i class="bi bi-bar-chart-line-fill "></i></button></li>
            <li><button class="" aria-label="tools button" title="tools" ><i class="bi bi-tools"></i></button></li>
            <li><button class="" aria-label="folder button" title="folder" ><i class="bi bi-folder-fill"></i></button></li>
            <li><button class="" aria-label="time button" title="time" ><i class="bi bi-clock-fill"></i></button></li>
            <li><button class="" aria-label="more charts button" title="more charts" ><i class="bi bi-graph-up"></i></button></li>
            <li><button class="" aria-label="BALANCE COMPANY SCORE" title="BALANCE COMPANY SCORE" ><i class="bi bi-speedometer2"></i></button></li>
        </ul>
    </nav>
    <button class="bg-transparent border-0 w-100 d-flex justify-content-center pb-1" >
        <i class="bi bi-arrow-right-short"></i>
    </button>
</div>
