/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

$theme-colors: (
  "primary":    $white,
  "secondary":  $lightGray,
  "highlight": $orange,
  "highlight-dark": $orange2,
  "darkBrown": $darkBrown,
  "dark-text": $darkGray2,
  "dark-text-2": $darkGray5,
  "dark-text-3": $gray2,
);

$input-placeholder-color: $lightGray11;
$border-color: $lightGray2;

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
      }
      
      &::-webkit-scrollbar-track {
        background: transparent; /* Remove the background color */
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #4C4743; /* Color of the thumb */
        border-radius: 5px; /* Rounded border for the thumb */
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background-color: #333; /* Color when hovering over the thumb */
      }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: $lightGray10;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'bootstrap/scss/bootstrap';