/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

$theme-colors: (
  "primary":    $white,
  "secondary":  $lightGray,
  "highlight": $orange,
  "highlight-dark": $orange2,
  "darkBrown": $darkBrown,
  "dark-text": $darkGray2,
  "dark-text-2": $darkGray5,
  "dark-text-3": $gray2,
);

$input-placeholder-color: #BEBEBE;

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'bootstrap/scss/bootstrap';