<div class="h-100 d-flex bg-primary border border-top-0 border-end-0">
    <div class="position-sticky d-flex flex-column align-items-center justify-content-between" style="max-height: calc(100vh - 131px); padding: 30px 5px 30px 7px;top: 130.39px;" >
        <button class="btn rounded-1 border-0 comments-button position-relative" style="padding: 3px; width: 30px;height: 30px;"><i class="bi bi-chat-left-fill"></i><div class="chat-bubble bg-highlight border border-white"><span>6</span></div></button>
        <button class="btn rounded-0 border-0 p-0 filter-button"><i class="bi bi-funnel-fill" ></i></button>
    </div>
</div>