<div class="d-flex h-100">
  <app-drawer [openDrawer]="openDrawer" [ngStyle]="drawerStyles" [comments]="comments"></app-drawer>
  <div class="h-100 d-flex bg-primary border border-top-0 border-end-0">
    <div class="position-sticky d-flex flex-column align-items-center justify-content-between sticky-nav-container">
      <button
        (click)="toggleDrawer()"
        class="btn rounded-1 border-0 comments-button position-relative"
        [class.button-selected]="openDrawer"
      >
        <i class="bi bi-chat-left-fill"></i>
        <div class="chat-bubble bg-highlight border border-white">
          <span>{{ comments.length }}</span>
        </div>
      </button>
      <button class="btn rounded-0 border-0 p-0 filter-button"><i class="bi bi-funnel-fill"></i></button>
    </div>
  </div>
</div>
