@import '../../../variables.scss';

.sticky-nav-container{
    max-height: calc(100vh - 131.5px); 
    padding: 30px 5px 30px 7px; 
    top: 130.39px;
}
i{
    color: $darkBrown;
}
.comments-button{
    padding: 3px; 
    width: 30px; 
    height: 30px;
    i::before{
        position: absolute;
        bottom: 2px;
        left: 3px;
        width: 15px;
        height: 15px;
    }
    .chat-bubble{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1px;
        padding-left: .5px;
        padding-right: .5px;
        position: absolute;
        min-width: 16px;
        height: 16px;
        color: #E8E8E8;
        font-size: 9px;
        font-weight: bold;
        line-height: 29px;
        top: 3px;
        right: 3px;
        border-radius: 100%;
        z-index: 3;
    }
}
.filter-button{
    width: fit-content;
    i::before{
        width: 17px;
        height: 17px;
    }
}

.button-selected{
    background-color: rgba($lightGray8, 33%);
    .chat-bubble{
        color: #E8E8E8;
        border-color: #E8E8E8!important;
    }
}
.drawer-closed{
    max-width: 43px;
}